<!DOCTYPE html>
<html>
<head>
  <title>Appointment</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
</head>
<body onload="fetchData()">
  <section class="section">
    <div class="container">
      <div class="buttons are-medium">
        <button class="button is-danger" onclick="logout()">Log Out</button>
        <button class="button is-primary" onclick="new_appointment()">New Appointment</button>
      </div>
      <table class="table is-fullwidth" id="myTable">
        <thead>
          <tr>
            <th>Date</th>
            <th>Service</th>
            <th>Professional Name</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody id="tableBody">
          <!-- Fetched data will be inserted here -->
        </tbody>
      </table>
    </div>
  </section>
  
  <script>
    function logout() {
      // Aquí puedes agregar la lógica para realizar el logout o redirigir a la página de logout
      localStorage.removeItem(`token`);
      window.location.href = `login.html`;
    }
    
    function new_appointment() {
      // Aquí puedes agregar la lógica para realizar la acción de eliminar
      window.location.href = 'new_appointment.html';
    }
  </script>
  <script src="../../static/patient/js/dashboard.js"></script>
</body>
</html>
