<!DOCTYPE html>
<html>
<head>
  <title>Patient - Login Page</title>
  <link rel="stylesheet" type="text/css" href="../../static/patient/css/login.css">
</head>
<body>
  <div class="container">
    <h1>Login</h1>
    <form id="loginForm">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <button type="submit">Login</button>
    </form>
    <p class="register-link">Don't have an account? <a href="register.html">Register here</a></p>
    <p id="message"></p>
  </div>

  <script src="../../static/patient/js/login.js"></script>
</body>
</html>