<!DOCTYPE html>
<html>
<head>
  <title>Patient - Login Page</title>
  <link rel="stylesheet" type="text/css" href="../../static/patient/css/login.css">
</head>
<body onload="checkLogged()">
  <header>
      
  </header>
  <div class="content">
    <div class="card">
      <img src="../../static/img/logo.png" class="logo" alt="">
      <h1>Patient - Login</h1>
      <form id="loginForm">
        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Login</button>
      </form>
      <p class="register-link">Don't have an account? <a href="./register.html">Register here</a></p>
      <p class="register-link">Are you a <strong>professional</strong>? <a href="../professional/login.html">Login here</a></p>
      <p id="message"></p>
    </div>
  </div>

  <footer>
      Beauty Clinic - Trademark
  </footer>

  <script src="../../static/patient/js/login.js"></script>
</body>
</html>