<!DOCTYPE html>
<html>
<head>
  <title>Appointments</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../static/patient/css/dashboard.css">
</head>
<body onload="fetchData()">
  <header>
      
  </header>
  <section class="section">
    <div class="container">
      <div class="buttons are-medium">
        <button class="button is-danger" onclick="logout()">Log Out</button>
      </div>
      <table class="table is-fullwidth" id="myTable">
        <thead>
          <tr>
            <th>Date</th>
            <th>Service</th>
            <th>Patient Name</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody id="tableBody">
          <!-- Fetched data will be inserted here -->
        </tbody>
      </table>
    </div>
  </section>
  <footer>
    Beauty Clinic - Trademark
</footer>
  <script>
    function logout() {
      // Aquí puedes agregar la lógica para realizar el logout o redirigir a la página de logout
      localStorage.removeItem(`token`);
      window.location.href = `login.html`;
    }
  </script>

  <script src="../../static/professional/js/dashboard.js"></script>
</body>
</html>
