<!DOCTYPE html>
<html>
<head>
  <title>Appointment</title>
  <link rel="stylesheet" type="text/css" href="../../static/professional/css/dashboard.css">
</head>
<body>
  <table>
    <tr>
      <th>Name patient</th>
      <th>Appointment</th>
    </tr>
    <tr>
      <td>id</td>
      <td>id</td>
    </tr>
    <tr>
      <td>dateTime</td>
      <td>dateTime</td>
    </tr>
    <tr>
      <td>service</td>
      <td>service</td>
    </tr>
    <tr>
      <td>status</td>
      <td>status</td>
    </tr>
  </table>

  <div class="button-container">
    <button class="action-btn logout-btn" onclick="logout()">Log Out</button>
  </div>

  <script>
    function logout() {
      // Aquí puedes agregar la lógica para realizar el logout o redirigir a la página de logout
      alert("You have successfully logged out.");
    }
    
    
  </script>
</body>
</html>
