<!DOCTYPE html>
<html>
<head>
  <title>Professional - Login Page</title>
  <link rel="stylesheet" type="text/css" href="../../static/professional/css/login.css">
</head>
<body onload="checkLogged()">
  <header>
        
  </header>
  <div class="container">
    <img src="../../static/img/logo.png" class="logo" alt="">
    <h1>Professional - Login</h1>
    <form id="loginForm">
      <label for="email">E-mail:</label>
      <input type="email" id="email" name="email" required>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <button type="submit">Login</button>
    </form>
    <p class="register-link">Don't have an account? <a href="./register.html">Register here</a></p>
    <p class="register-link">Are you a <strong>patient</strong>? <a href="../patient/login.html">Login here</a></p>
    <p id="message"></p>
  </div>

  <footer>
    Beauty Clinic - Trademark
  </footer>

  <script src="../../static/professional/js/login.js"></script>
</body>
</html>