<!DOCTYPE html>
<html>
<head>
  <title>Register Page</title>
  <link rel="stylesheet" type="text/css" href="../../static/professional/css/register.css">
</head>
<body>
    <div class="container">
        <h1>Register</h1>
        <form id="registerForm">
          <section>
            <h2>Personal Information</h2>
            <label for="fullName">Full Name:</label>
            <input type="text" id="fullName" name="fullName" required>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <label for="gender">Gender:</label>
            <select id="gender" name="gender" required>
              <option value="" selected disabled>Select Gender</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
            <label for="birthdate">Birthdate:</label>
            <input type="date" id="birthdate" name="birthdate" required>
          </section>
    
          <section>
            <h2>Address</h2>
            <label for="postalCode">Postal Code:</label>
            <input type="text" id="postalCode" name="postalCode" required>
            <label for="street">Street:</label>
            <input type="text" id="street" name="street" required>
            <label for="houseNumber">House Number:</label>
            <input type="text" id="houseNumber" name="houseNumber" required>
            <label for="neighborhood">Neighborhood:</label>
            <input type="text" id="neighborhood" name="neighborhood" required>
            <label for="city">City:</label>
            <input type="text" id="city" name="city" required>
            <label for="state">State:</label>
            <input type="text" id="state" name="state" required>
          </section>
    
          <section>
            <h2>Contact Information</h2>
            <label for="countryCode">Country Code:</label>
            <input type="text" id="countryCode" name="countryCode" required>
            <label for="areaCode">Area Code:</label>
            <input type="text" id="areaCode" name="areaCode" required>
            <label for="number">Phone Number:</label>
            <input type="text" id="number" name="number" required>
          </section>

          <section>
            <h2>Business Information:</h2>
            <label for="offeredServices">Offered Services (Multiple):</label>
            <select id="offeredServices" name="offeredServices" multiple required>
              <option value="Botox">Botox</option>
              <option value="Peeling">Peeling</option>
            </select>
            <label for="summary">Summary:</label>
            <input type="text" id="summary" name="summary" required>
            <label for="consultationPrice">Consultation Price (BRL):</label>
            <input type="number" min="0" id="consultationPrice" name="consultationPrice" required>
          </section>
    
          <button type="submit">Register</button>
        </form>
        <p class="login-link">Already have an account? <a href="login.html">Login here</a></p>
        <p id="message"></p>
      </div>

  <script src="../../static/professional/js/register.js"></script>
</body>
</html>
